<navstudent></navstudent>
<section id="platform">
  <div class="container main">
    <div class="row">
          <div class="row">
            <div class="col-md-6">
              <div class="col-md-12 wow fadeInRight card pull-center" data-wow-duration="300ms" data-wow-delay="300ms" id="container-graph1"></div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12 wow fadeInRight card pull-center" data-wow-duration="300ms" data-wow-delay="300ms" id="container-graph2"></div>
            </div>
          </div><!--/inner row-->
          <br><br>
          <div class="row">
            <div class="col-md-6">
              <div class="col-md-12 wow fadeInRight card pull-center" data-wow-duration="300ms" data-wow-delay="300ms" id="container-graph3"></div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12 wow fadeInRight card pull-center" data-wow-duration="300ms" data-wow-delay="300ms" id="container-graph4"></div>
            </div>
          </div><!--/inner row-->

    </div><!--/row-->
    
<br>
<div class="container-fluid">
  <a href="" class="btn btn-primary btn-lg active btncontent" role="button" aria-pressed="true" ng-click="enterClass();">Enter Class</a>
</div>

  </div><!--/container-->
</section>
<script ng-init='myVariable = true' ng-if='myVariable' type="text/javascript" src="/lib/js/wow.min.js"></script>
<script type="text/javascript" src="/lib/js/main.js"></script>
